.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 25px;
	height: 80vh;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inputContainer {
	display: flex;
	flex-direction: column;
	width: 330px;
	align-items: center;
	padding: 40px;
	background-color: white;
	border: 1px solid silver;
}

.inputSection {
	margin: 20px;
}

.inputSection p {
	max-width: 320px;
	font-size: 14px;
	color: red;
}

.inputSection button {
	width: 320px;
}

.login {
	font-weight: bold;
	padding-top: 10px;
}

.error input {
	border: 1px solid red;
}

.registration {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button {
	display: flex;
	outline: none;
	cursor: pointer;
	padding: 0 16px;
	background-color: #01437c;
	border-radius: 2px;
	border: 1px solid #0070d2;
	color: #fff;
	font-size: 1rem;
	line-height: 30px;
	font-weight: 400;
	text-align: center;
	height: 40px;
	padding: 0 15px;
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
}
.button:hover {
	background-color: #005fb2;
	border-color: #005fb2;
}
.info {
	border: 1px solid silver;
	border-radius: 5px;
	padding: 15px;
	text-align: justify;
	width: 300px;
	background-color: white;
}
